:root {
  --primary-light: #ddd;
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --secondary-dark-hover: #4a4f57;
  --secondary-dark-active: #5b5f68;
  --header: #111720;
  --primary-yellow: #fac650;
}



body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  background-color: var(--header);
  font-size: 32px;
  color: var(--primary-yellow);
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 5px;
  align-items: stretch;
  gap: 10px;
}


#screen, #clear-del, #row-3, #row-4, #row-5, #row-6 {
  display: flex;
  gap: 10px;
  justify-content: stretch;
  align-items: stretch;
}

#screen {
  flex-direction: column;
  border-style: solid;
}
 
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: var(--primary-light);
  font-size: 20px;
  background-color: var(--primary-dark);
}

.fa-github {
  color: var(--primary-light);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
